.custom-button{
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    fill: white;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    height: 39px;
}

.custom-button:hover{
    background-color: #333; 
    transition: background-color 0.3s;
}
   
.custom-button:active{
    background-color: rgba(196, 89, 252, 1);
}
  
.custom-text{
    font-size: large;
    font-weight: bold;
}