.container_custom_modal {
    transform: translate(-50%, 0%);
    position: relative;
    left: 50%;
    /* font-family: arial; */
    font-size: 16px;
    margin: 25px;
    width: 400px;
    height: 400px;
    /* outline: dashed 1px black; */
    /* background-color: white; */
    /* Відцентруйте вертикально та горизонтально */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  


.custom_body_modal{
    padding: 0 16px 16px 16px;
    /* width: 50px;
    height: 50px;
    background-color: red; */
  }

.custom_footer_modal {
    padding-bottom: 10px;
    transform: translate(27.5%, 0)
  }