.header-card{  
    height: 100%;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 15px;
    color: white;
    border: #000 solid 2px;
}

.container-content{
    font-weight: bolder;
    font-size: 24px;
}

.portfolio-container__content, .history-container{
    border: 1px solid black;
    height: 460px;
}

.sidebar, .history-container{
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100%;
    
}


.sidebar__header, .history-header_container{
    display: flex;
    border-bottom: 1px solid white;
    
}

.sidebar-header__title, .history-header__title{
    font-weight: bolder;
    font-size: 24px;
    color: white;
}

.sidebar__items{
    max-height: 405px; 
    width: 100%;
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.sidebar__items::-webkit-scrollbar {
    display: none;
}

.sidebar__item{
    width: 100%;
    color: white; 
    border-bottom: 1px solid white;
    cursor: pointer; 
    transition: background-color 0.3s; 
    
}
.is-active:hover {
    background-color: #333;
    border-left: 5px solid white;
}


.is-active:active {
    background-color: rgba(196, 89, 252, 1);
}

.is-selected {
    background: hsla(217, 100%, 50%, 1);
    border-left: 5px solid #000;
    color: #000;
    
}

.sidebar-item__container{
    display: flex;
    margin-left: 10px;
    height: 50px;
    align-items: center;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.sidebar-item__title {
    font-size: 18px;
}



.custom_button_threedots{
    border: none;
    background-color: transparent;
    transition: background-color 0.3s;
}
  

.portfolio_threedots_button{
    opacity: 0;
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

.sidebar__item:hover .portfolio_threedots_button{
    opacity: 1;
} 

.custom_button_threedots:hover{
    fill: #333;
}

.custom_button_threedots:active{
   
    fill:rgba(196, 89, 252, 1);
}

.custom_threedots_menu-buttons{
    transform: translate(-16%, -20%);
} 

.button-new-portfolio__container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50%;
}

.custom-button-add__portfolio {    
    background-color: transparent;
    fill: white;
    border: none;  
    padding: 10px 20px; 
    cursor: pointer; 
    transition: fill 0.3s;
    
}
.custom-button-add__portfolio:hover {
    fill: #333;
    transition: fill 0.3s;
}
.custom-button-add__portfolio:active {
    fill:rgba(196, 89, 252, 1);
      
    transition: fill 0.3s;
}

.custom-button-new_portfolio{
    background-color:white; 
    color: black; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

 .custom-button-new_portfolio:hover{
    background-color: #00bf72;
    color: white;
    transition: background-color 0.3s; 
}


 .custom-button-new_portfolio:active{
    background-color:#a8eb12;
    color: white;
    transition: background-color 0.3s; 
}




.portfolio-container__body, .history-container__body{
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    height: 100%;
}

.portfolio-container__header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black ;
    font-weight: bolder;
    font-size: 24px;
}

.portfolio-header__name,
 .portfolio-header__profit {
    flex: 1;
}

.profit-indicator {
    display: flex;
}

.custom-button-new__transaction{
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.custom-button-new__transaction:hover{
    background-color: #333; 
    transition: background-color 0.3s;
    
}
   
.custom-button-new__transaction:active{
    background-color: rgba(196, 89, 252, 1);
} 

.table__empty-state{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 17%;
}
.footer-datatable__portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.history__body{
    display: flex;
}

.text_custom-form{
    font-weight: bold;
    font-size: 18px;
    color: white;
}


.container_custom-button{
    padding-top: 26px;
}

.custom-button__reset{
    background-color:  rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.custom-button__reset:hover {
    background-color: #333;
}


.custom-button__reset:active {
    background-color: rgba(196, 89, 252, 1);
}

.container_custom-select select {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    width: 150px;
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.container_custom-select select:hover {
    background-color: #333; 
}

.container_custom-select select:active, 
.container_custom-select select:focus {
    background-color: rgba(196, 89, 252, 1);
    outline: none; 
}

.custom-input_history{
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    width: 200px;
    height: 39px;
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.empty-datatable-history__message{
    padding-top: 125px;
    padding-bottom: 125px;
    color: white;
}

.footer-datatable__history{
    display: flex;
    justify-content: end;
    align-items: center; 
}





