.container{
    border: 1px solid  black;
    margin: 16px;
    border-radius: 3px;
    background-color: rgb(223, 221, 221);
}

.side_bar_container {
    height: 360px; 
    width: 100%;
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.side_bar_container::-webkit-scrollbar {
    display: none;
}

.side_header_container{
    border-bottom: 1px solid black;


}

.side_bar_title {
    font-size: 24px;
    font-weight: bold;
}

.side_bar_item {
    padding: 8px 16px;
    transition: background-color 0.2s;
    cursor: pointer; 
}

.side_bar_item:hover  {
    background-color: #eff0f1; 
    /* transition: 0.7s; */
    border-left: 3px solid black;

}
.side_bar_item:active  {
    background-color: #b0b2b3;
    border-left: 3px solid black;

}



.portfolio_content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.portfolio_title{
    
}

.portfolio_threedots_button{
    position: relative;
}


.portfolio_threedots_button.hidden{
    opacity: 0;
    transition: opacity 0.3s ease;

}




.side_bar_item:hover .portfolio_threedots_button.hidden {
    opacity: 1;
}




.custom_button_active{
    color: black;
}

.custom_button_active:hover{
    color:white;
}


.slds-dropdown.hidden{
    opacity: 0;
    transition: opacity 0.3s ease;

}

.portfolio_threedots_button:hover .slds-dropdown.hidden {
    opacity: 1;
    
}

.slds-dropdown{

    position: absolute;
}



.side_bar_container_button{
    height: 360px; 
    width: 100%;
}
.wrapper_side_bar_button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side_button_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.aside{
    height: 360px;
    
}

.aside_header_container{
    border-bottom: 1px solid black;
    border-left: 1px solid black ; 
}
.aside_title{
    font-size: 24px;
    font-weight: bold;  
    /* border-bottom: 1px solid black;   */
    
}

.aside_context{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.aside_context_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside_context_average{
    
    
}
/* 
.aside_context_average_icon:hover{
    --slds-c-icon-color-foreground: #32e462;

} */

.aside_body{
    background-color:#eff0f1;
    height: 100%;
}

.wrapper_aside_button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aside_container{
    /* height: 100%; */
    flex-grow: 1;
}

.aside_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100%; */
}
