.container_custom_modal {
    transform: translate(-50%, 0%);
    position: relative;
    left: 50%;
    /* font-family: arial; */
    font-size: 16px;
    margin: 25px;
    width: 400px;
    height: 400px;
    /* outline: dashed 1px black; */
    /* background-color: white; */
    /* Відцентруйте вертикально та горизонтально */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  